body {
    font-family: sans-serif;
}

#textinput {
    resize: none;
    width: 500px;
    height: 100px;
}

button {
    width: 100px;
    height: 30px;
}

#result-area {
    margin-top: 50px;
    font-size: 150%;
    font-weight:300;
}